extend layout

block content
	h1 Hello, #{name}!
	a.btn.btn-info(href='/login') Login with Github
	h3 #{er}
	form.form-horizontal(action='/', role='form', method='POST')
		.form-group
			label.control-label.col-sm-2(for='title') Title:
			.col-sm-10
				input.form-control(type='text', placeholder='Enter title', name='title' required)
		.form-group
			label.control-label.col-sm-2(for='content') Write something:
			.col-sm-10
				textarea.form-control(rows='10', placeholder='...', name='content' required)
<<<<<<< HEAD
		.form-group
			.col-sm-offset-2.col-sm-10
=======
		//- .form-group
		//- 	.col-sm-offset-2.col-sm-10
		//- 		.checkbox
		//- 			label Do you like chocolate?
		//- 			input(type='checkbox')
>>>>>>> 5e88d9eba77c0046c995a9d50f54acd96ee92d20
		.form-group
			.col-sm-offset-2.col-sm-10
				input.btn.btn-default(type='submit', value='Submit Post')
	hr
	h1 Blogposts
	p TODO - Blogposts to display here...
	hr
	//- .panel.panel-primary
	//- 					.panel-heading #{posttitle} | Written by: #{postname}
	//- 					.panel-body #{postcontent}