extend layout

block content
	h1 Hello, #{name}!
	a.btn.btn-info(href='/login') Login with Github
	h3 #{er}
	form.form-horizontal(action='/', role='form', method='POST')
		.form-group
			label.control-label.col-sm-2(for='title') Title:
			.col-sm-10
				input.form-control(type='text', placeholder='Enter title' required)
		.form-group
			label.control-label.col-sm-2(for='content') Write something:
			.col-sm-10
				textarea.form-control(rows='10', placeholder='...' required)
		.form-group
			.col-sm-offset-2.col-sm-10
				.checkbox
					label Do you like chocolate?
					input(type='checkbox')
		.form-group
			.col-sm-offset-2.col-sm-10
				input.btn.btn-default(type='submit', value='Submit Post')

	.panel.panel-primary
						.panel-heading #{posts1} | Written by: #{posts2}}
						.panel-body #{posts3}