extend layout

block content
	.col-md-6
		img(src='#{avatar}')
	.col-md-6
	ul Name: #{name}
	ul Email: #{email}
	ul Github account: 
		a(href='#{link}') #{link}
	ul Followers: #{followers}
	ul Following: #{following}
	//- ul Blogposts: #{blog}