extend layout

block content
	.panel.panel-primary
		.panel-heading #{name}
		.panel-body
			img(src='#{avatar}')
		.panel-body
			ul Email: #{email}
			ul Github account: 
				a(href='#{link}') #{link}
			ul Followers: #{followers}
			ul Following: #{following}
			//- ul Blogposts: #{blog}